#contact-us{
    min-width: 1440px;
    min-height: 800px;
}

#contact-us .container {
    flex-direction: column;
    text-align: center;
}

#contact-us h2 {
    font-size: 53px;
    color: #4d80e4;
    font-weight: 700;
    font-family: "Aleo";
    text-align: center;
    padding-top: 200px;
    padding-bottom: 60px;
    text-transform: capitalize;
}

#contact-us p {

    font-size: 25px;
    color: #1a1a1a;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    padding-bottom: 100px;
}

#contact-us form {
    position: relative;
    margin: 0 auto;
    
    padding-bottom: 280px;
}

#contact-us form input {
    background-color: #fff;
    border-radius: 30px;
    padding: 15px 200px 15px 25px;
    width: 770px;
    border: none;
    font-size: 25px;
    color: rgba(0,0,0, 0.7);
    font-weight: 400;
    font-family: "Montserrat";
    box-sizing: border-box;
}

#contact-us form input::placeholder {
    color: rgba(0,0,0, 0.7);
    padding-left: 20px;
}

#contact-us form input[type="submit"]{
    position: absolute;
    top: 0;
    right: 0;
    width: max-content;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    text-transform: uppercase;
    background-color: #4d80e4;
    padding: 15px;
}
